<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<insert id="insertUser" parameterType="com.sonic.dao.entity.UserEntity">
		insert into user_$[index]$(
			id,
			name
		) values (
			#{id},
			#{name}
		)
	</insert>
	<select id ="queryUserById" parameterType="java.lang.Integer" resultType="com.sonic.dao.entity.UserEntity">
		select * from user_$[index]$ where id=#{id}
	</select>
</mapper>