<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userDetail">

	<insert id="insertUser" parameterType="com.sonic.dao.entity.UserDetailEntity">
		insert into userDetail_$[index]$(
			id,
			name,
			sex,
			age
		) values (
			#{id},
			#{name},
			#{sex},
			#{age}
		)
	</insert>
</mapper>